body {
    margin: 0;
}

#home {
    height: 100vh;
    /* If you need to support browser without CSS var support (<= IE11) */
    height: calc(100vh - var(--vh-offset, 0px));

    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url("deutschland_heidelberg_header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    margin: 8px 0px;
    margin-bottom: 0px;
}

#left {
    width: 33%;
    height: 20%;

    position: absolute;
    bottom: -10px;

    background-color: white;
    -webkit-clip-path: polygon(0 0%, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0%, 100% 50%, 100% 100%, 0% 100%);

}

#right {
    width: 70%;
    height: 20%;

    position: absolute;
    bottom: -10px;
    right: 0px;

    background-color: white;
    -webkit-clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%);

}

#homeIcon {
    padding-right: 10px;
}

#headertext {
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 20px;
    top: 200px;
    left: 30px;
}

@media (min-width: 768px) {
    #headertext {
        left: 200px;
        top: 300px;
        font-size: 65px;
    }

    #headertext > p {
        font-size: 35px;
    }
}

@media (max-height: 600px) {
    #headertext {
        left: 20px;
        top: 50px;
    }
}

#downarrow {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
}

#downarrow > a {
    font-size: 65px;
    color: darkgrey;
}

#downarrow > a:hover {
    color: lightgrey;
}

.link {
    color: dimgrey;
    text-shadow: 1px 1px lightgray;
}

.link:hover {
    color: lightgrey;
}

.navbar {
    position: -webkit-sticky !important; /* Safari */
    position: sticky !important;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .navbar-end {
        margin-right: 10px;
    }
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-footer {
    margin-top: auto;
}

.section {
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

@media (min-width: 768px) {
    .section {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/*about section*/
#aboutSection, #aboutNotification, #aboutNotification > pre {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#aboutNotification > pre > code {
    font-size: 9px;
    font-style: oblique;
}

@media (min-width: 768px) {
    #aboutSection, #aboutNotification, #aboutNotification > pre {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #aboutNotification > pre > code {
        font-size: 1em;
        font-style: oblique;
    }
}

#upButton {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.card:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.card-header, .notification {
    background-color: rgb(255, 233, 204);
}

#skillContainer {
    padding: 10px;
}

.content ul {
    margin-top: 0;
}

.logos {
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.logos > li {
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
}

@media (min-width: 768px) {
    .logos > li {
        display: inline;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.logos > li:first-of-type {
    padding-left: 0px;
}

h1, h2.subtitle {
    font-family: 'Montserrat';
}

/*blog specific rules*/
.bloglink {
    font-family: monospace;
}

.box > h1 {
    margin-bottom: 4px !important;
}

.box > h2 {
    margin-top: 1.5em;
}

.progress.is-danger::-webkit-progress-value {
    background-color: rgb(255, 233, 204);
}

.progress.is-danger::-moz-progress-bar {
    background-color: rgb(255, 233, 204);
}

.progress.is-danger::-ms-fill {
    background-color: rgb(255, 233, 204);
}